.my__notification {
    opacity: 0;
    animation-name: fade_mi_notification;
    animation-duration: 6s;
    top: -100vh;
    left: calc( 100vw - 50% );
}

#my_notification_modal {
    opacity: 0;
    top: -100vh;
    left: calc( 100vw - 50% );
}

#my_notification_modal.activo {
    animation-name: fade_mi_notification;
    animation-duration: 6s;
}

@keyframes fade_mi_notification{
    0% {
        opacity: 100%;
        top: 10px;
    }

    70%{
        opacity: 100%;
    }

    100%{
        opacity: 0%;
        top: 10px;
    }
}
